*~
gcom3.8/gcom/src/gcom/*/*.mod
gcom3.8/gcom/src/gcom/*/*.o
gcom3.8/gcom/src/gcom/*/*.f90
gcom3.8/gcom/lib/libgcom_buffered_mpi.a
gcom3.8/gcom/logs
data/dumps/xfhcra#da000009244c1+_d
data/dumps/xfhcro#da000009244c1+_d
data/dumps/xfxwba#da000005001c1+
data/dumps/xfxwbo#da000005001c1+
singularity/famous.sif
